# Core
streamlit>=1.20.0

# Data handling
pandas>=1.5.0
numpy>=1.20.0

# File processing
PyPDF2>=3.0.0
docx2txt>=0.8

# NLP & embeddings
spacy>=3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#egg=en_core_web_sm
sentence-transformers>=2.2.0
transformers>=4.40.0

# Machine learning
scikit-learn>=1.2.0
tensorflow>=2.20.0
tf-keras>=2.20.1

# Visualization
plotly>=5.10.0
